*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  font-size: 62.5%;
}

nav{
  margin: 4rem 0 0 7.2rem;
  display: flex;
  gap:32px;
  align-items: center;
}

a{
  text-decoration: none;
  color: #E1E1E6;
}

a:hover{
  font-weight: 700;
}